@import "../standard.scss";

html,
body {
    margin: 0;
    padding: 0;
}

.logo {
    position: absolute;
    text-align: center;
    cursor: default;
    top: 38%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: $twitchColor;
    h1 {
        font-family: "Russo One", sans-serif;
        font-weight: bolder;
        font-size: 3em;
    }
}

.logoCondensed {
    position: fixed;
    cursor: default;
    top: -15px;
    left: 60px;
    color: $twitchColor;
    h1 {
        font-family: "Russo One", sans-serif;
        font-weight: bolder;
        font-size: 2em;
    }
    p {
        display: none;
    }
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;

    .hiddenElement {
        visibility: hidden;
        transition: all 0.2s ease-in;
    }

    .show {
        width: 350px;
        transition: all 0.3s ease-in;
    }
    .hide {
        width: 0px;
        transition: all 0.3s ease-in;
    }
}

.remove {
    display: none;
    transition: all 1s ease-in;
}

// For light/ dark background modes only. Permissions restricted!

.noHeight {
    transform: scale(0, 0);
    transition: all 0.2s ease-in;
}

.hoHeight {
    transform: scale(1, 1);
    transition: all 0.2s ease-in;
}
