html,
body {
    margin: 0;
    padding: 0;
}

$appHeight: 100vh;
$twitchColor: #9147fe;
.container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;
    .videoFrame {
        width: 100%;
        height: $appHeight;
        background: lightcoral;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .stream {
            width: 500px;
            height: 300px;
            background: lightgreen;
            margin: 2em;
            position: relative;
            &:hover {
                outline: 10px solid $twitchColor;
            }
            .helper{
                position: absolute;
                height: 60px;
                bottom: -60px;
                
                button{
                    padding: 10px;
                    margin: 0px 20px;
                }
            }
        }
    }
    
    .chatFrame {
        width: 350px;
        height: $appHeight;
        background: lightgoldenrodyellow;
        position: relative;
        display: flex;
        flex-direction: column;

        .chatTabs{
            background: rgb(150, 150, 233);
            list-style-type: none;
            margin: 0;
            padding: 15px 4px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            overflow: hidden;
            li{
                padding: 3px;
                color: #dddddd;
                height: fit-content;
                font-weight: bold;
                &:hover{
                    cursor: pointer;
                    color: #ffffff;
                }                
            }
        }
    }
    .screenOverlay{
        position: absolute;;
        background: rgba(0, 0, 0, 0.532);
        width: 100vw;
        height: 100vh;
        z-index: 3;
        .addChannel{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            width: 320px;
            height: 140px;
            background: #18181b;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px;
    
            .channelInput{
                box-sizing: border-box;
                outline: none;
                width: 100%;
                border-radius: 3px;
                border: 2px solid transparent;
                &:focus{
                    border: 2px solid $twitchColor;
                }
            }
            .modalElement{
                padding: 8px;
                margin: 10px 0px 10px;
            }
    
            .done{
                width: fit-content;
                border-radius: 50px;
                border: none;
                &:not(:disabled){
                    cursor: pointer;
                    background: $twitchColor;
                    color: white;
                }
            }
            .modalClose{
                text-align: right;
                align-self: flex-end;
                color: white;
                cursor: pointer;
                width: 40px;
                height: 40px;
                font-size: 20px;
                font-weight: bold;
            }
        }
        
    }

    .toggles{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: black;
        align-items: center;
        padding: 20px 10px;
        .toggleIcon{
            height:20px;
            width:20px;
            background:white;
            border-radius: 50%;
            position: absolute;
            top: 5px;
            transition: 0.2s all ease-in;
        }

        .toggleBG {
            width: 50px;
            height: 30px;
            border-radius: 50px;
            position: relative;
            transition: 0.2s all ease-in;
        }
        .darkModeToggleOff{
            background: gray;
            .darkIconToggleOff{
                @extend .toggleIcon;
                left: 4px;
            } 
        }

        .darkModeToggleOn{
            background: #9147fe;
            .darkIconToggleOn{
                @extend .toggleIcon;
                left: 26px;
            } 
        }

        .chatToggle {
            height: 50px;
            background: $twitchColor;
            left: 24px;
            position: relative;
            .chatToggleIconOn{
                width:30px;
                position: relative;
                top: 10px;
                transform: rotate(90deg);
                transition: transform 0.5s ease-in;

                filter: invert(0.8);
                &:hover{
                    filter: invert(1);
                    cursor: pointer;
                }
            }
            .chatToggleIconOff{
                width:30px;
                position: relative;
                top: 10px;
                transform: rotate(270deg);
                transition: transform 0.5s ease-in;
                filter: invert(0.8);
                &:hover{
                    filter: invert(1);
                    cursor: pointer;
                }
    
            }
        }


        .addStream{
            height: 50px;
            width: 50px;
            transition: all 0.2s ease-in;
            outline: none;
            border-radius: 50%;
            border: none;
            background: $twitchColor;
            &:not(:disabled){
                cursor: pointer;
            }
            &:hover{
                 transform: scale(1.3);
                &::after{
                    color: white;
                }
            }
    
            &::after{
                content: "+";
                font-size: 40px;
                font-weight: bolder;
                color:#dddddd;
                transition: all 0.2s ease-in;
    
            }
        }
    }

    
    

    .hiddenElement{
        visibility: hidden;
        transition: all 0.4s ease-in;
    }

    .show{
        width: 350px;
        transition: all .3s ease-in;

    }
    .hide{
        width:0px;
        transition: all .3s ease-in;
    }

    .iframeContainer iframe{
        height: 100vh;
        width: 350px;
    }
}