@import '../standard.scss';

.toggles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    .toggleIcon {
        cursor: pointer;
        height: 20px;
        width: 20px;
        background: white;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        transition: 0.2s all ease-in;
    }

    .toggleBG {
        cursor: pointer;
        width: 50px;
        height: 30px;
        border-radius: 50px;
        position: relative;
        transition: 0.2s all ease-in;
    }
    .darkModeToggleOff {
        background: gray;
        .darkIconToggleOff {
            @extend .toggleIcon;
            background: white;
            left: 4px;
        }
    }

    .darkModeToggleOn {
        background: #9147fe;
        .darkIconToggleOn {
            @extend .toggleIcon;
            left: 26px;
        }
    }

    .chatToggle {
        height: 60px;
        background: $twitchColor;
        left: 24px;
        position: relative;
        cursor: pointer;
        .chatToggleIconOn {
            height:60%;
            width:60%;
            position: relative;
            top: 13px;
            left: 8px;
            transform: rotate(180deg);
            transition: transform 0.2s ease-in;
            filter: invert(0.8);
            &:hover {
                filter: invert(1);    
            }

        }
        .chatToggleIconOff {
            height:60%;
            width:60%;
            position: relative;
            top: 13px;
            left: 8px;
            transition: all 0.2s ease-in;
            filter: invert(0.8);
            &:hover {
                filter: invert(1);
            }
        }
        
    }

    .addStream {
        height: 50px;
        width: 50px;
        transition: all 0.2s ease-in;
        outline: none;
        border-radius: 50%;
        border: none;
        background: $twitchColor;
        &:not(:disabled) {
            cursor: pointer;
            &:hover {
                transform: scale(1.3);
                &::after {
                    color: white;
                }
            }
        }
        &:disabled {
            cursor: not-allowed;
            opacity: 20%;
        }
        

        &::after {
            content: "+";
            font-size: 40px;
            font-weight: bolder;
            color: $fadedWhite;
            transition: all 0.2s ease-in;
        }
    }
}

.darkMode{
    transition: all .5s ease-in;
    background: $darkBackground;
    .addChannel {
        background: rgb(43, 41, 41);
        .channelInput {
            border: 2px solid transparent;
        }
        .modalHeader {
            span {
                color: white;
            }
        }
    }    
}

.lightMode{
    transition: all .5s ease-in;
    background: $lightBackground;
    .chatTabs{
        background: white;
        li, .selectedTab{
            color: $twitchColor;
            &:hover{
                color: $twitchColor;
            }
        }
    }
    

}
